*~
.idea
/data
target
/repository
/repository-sources
/client-repository
/methodTypeIndex
/methodNameIndex
/methodIndex
/db
*.sqlite
.history
db.sqlite-journal
.DS_Store
out.csv
questions.csv
java
data_backup
dict
/thirdparty
