.classItem {
    margin: 10px;
}

.methodItem {
    margin: 10px;
}

.review-question {
    margin: 10px;
}

.stackoverflow-heading {
    background-color: gray;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 100;
}

.section {
    margin: 15px;
}

pre {
 white-space: pre-wrap;       /* css-3 */
}

.fixed-table {
    table-layout: fixed;
}

.fixed-table .td {
}

.tooltip-inner {
    max-width: 500px;
}