@(message: String)

@main("APIBook") {
    <div class="container" ng-controller="APIBookController">
        <h1>APIBook</h1>
        <div class="row">
            <div class="col-md-8">
                <input ng-keypress="keypress($event)" class="form-control" ng-model="searchText">
            </div>
            <div class="col-md-4">
                <div class="btn btn-primary" ng-click="search()">Search</div>
            </div>
        </div>
        <ul class="list-unstyled list-group">
            <div ng-repeat="item in items" class="row">
                <li class="classItem" ng-if="item.Type == 'Class'">
                    <div class="col-md-3">
                        <span class="label label-primary">Class</span>
                    </div>
                    <div class="col-md-6">
                        <a href="{{item.DownloadUrl}}">{{item.Artifact}}</a> => <strong>{{item.Name}}</strong>
                    </div>
                    <div class="col-md-3">
                        <a href="{{item.DocPath}}" ng-if="item.DocPath != ''"><span class="label label-primary">doc</span></a>
                    </div>
                </li>
                <li class="methodItem" ng-if="item.Type == 'Method'">
                    <div class="col-md-3">
                        <span class="label label-info">Method</span>
                    </div>
                    <div class="col-md-6">
                        <a href="{{item.DownloadUrl}}">{{item.Artifact}}</a> => <em>{{item.Class}}</em> => <strong>{{item.Name}}</strong>
                    </div>
                    <div class="col-md-3">
                        <a href="{{item.DocPath}}" ng-if="item.DocPath != ''"><span class="label label-primary">doc</span></a>
                    </div>
                </li>
            </div>
        </ul>

    </div>
}
