@(message: String)

@main("APIBook") {
    <div class="container" ng-controller="APIBookController">
        <h1>APIBook</h1>
        <div class="row">
            <div class="col-md-8">
                <input ng-keypress="keypress($event)" class="form-control" ng-model="searchText">
            </div>
            <div class="col-md-4">
                <div class="btn btn-primary" ng-click="search()">Search</div>
            </div>
        </div>

        <ul class="list-unstyled list-group">
            <div ng-repeat="item in items" class="row">
                <div class="api-row">
                    <span>{{$index+1}}.&nbsp;&nbsp; </span>
                    <a uib-tooltip="{{item.codeMethod.returnType}}">{{item.codeMethod.returnType | simpleName}}</a>
                    <span  uib-tooltip="{{item.codeMethod.fullName}}"><span class="text-muted">{{item.codeMethod.typeFullName | simpleName}}</span>.<strong class="">{{item.codeMethod.fullName | simpleName}}</strong></span>(<a ng-repeat="parameter in item.codeMethod.parameterTypes track by $index" uib-tooltip="{{parameter}}"><span ng-if="!$first">, </span>{{parameter|simpleName}}</a>)
                    <span><button class="btn btn-default btn-sm" ng-click="findCodeSnippets(item.codeMethod.canonicalName, item)">find snippets</button></span>
                    <span class="pull-right">{{item.value}}</span>
                </div>
                <div>
                    <div ng-repeat="snippet in item.codeSnippets track by $index">
                        <pre><code>{{snippet}}</code></pre>
                    </div>
                    <div ng-if="item.codeSnippets.length == 0">
                        <pre>No code snippet</pre>
                    </div>
                </div>
            </div>
        </ul>

    </div>
}
