@main("APIBook -- Stackoverflow") {
<div  ng-controller="stackoverflowController" ng-keypress="onKeypress($event)">
    <div class="stackoverflow-heading">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-default" ng-click="setQuestionIndex(questionIndex - 1)">Previous</button>
            </div>
            <div class="col-md-2">
                <input type="number" ng-model="questionIndex" ng-change="setQuestionIndex(questionIndex)">
            </div>
            <div class="col-md-2">
                <label>Program Task</label>&nbsp;<input type="checkbox" ng-model="showOnlyProgramTask" ng-change="filterChanged()">
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="setQuestionIndex(questionIndex + 1)">Next</button>
                <button class="btn btn-info" ng-click="jumpNextToReview()">Next to Review</button>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Stackoverflow</h1>
        <div id="question" class="panel  panel-default">
            <div class="panel-heading">
                <a ng-href="http://www.stackoverflow.com/questions/{{question.id}}/" target='_blank'>
                    Question#{{question.id}}&nbsp;&nbsp; {{question.title}}
                </a>&nbsp;
                <span class="glyphicon glyphicon-thumbs-up"></span><span>{{question.voteNum}}</span>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="col-md-4">Question</td>
                            <td class="col-md-4">Answer</td>
                            <td class="col-md-4">Action</td>
                        </tr>
                    </thead>
                    <tr>
                        <td>Is this a program task?</td>
                        <td>
                            <span class="text-success" ng-if="questionReviews[question.id].isProgramTask === true">Yes</span>
                            <span class="text-danger" ng-if="questionReviews[question.id].isProgramTask === false">No</span>
                            <span class="text-danger" ng-if="questionReviews[question.id].isProgramTask == null">Not reviewed</span>

                        </td>
                        <td>
                            <button class="btn btn-info" ng-click="upsertQuestionReviewField(question.id, 'isProgramTask', true)">Yes</button>
                            <button class="btn btn-danger" ng-click="setNotProgramTask(question.id)">No</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Is there an Answer using API?</td>
                        <td>
                            <span class="text-danger" ng-if="questionReviews[question.id].answerIdUsingApi === 0">No</span>
                            <span class="text-success" ng-if="questionReviews[question.id].answerIdUsingApi > 0">
                                #{{questionReviews[question.id].answerIdUsingApi}}
                            </span>
                            <span class="text-danger" ng-if="questionReviews[question.id].answerIdUsingApi == null">Not reviewed</span>
                        </td>
                        <td>
                            <button class="btn btn-info" ng-click="jumpToAnswers()">
                                Check Answers
                            </button>
                            <button class="btn btn-danger"
                                    ng-click="setNoAnswerIdUsingApi(question.id)">
                                No
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Use single key API?</td>
                        <td>
                            <span class="text-success" ng-if="questionReviews[question.id].singleKeyApi === true">Yes</span>
                            <span class="text-danger" ng-if="questionReviews[question.id].singleKeyApi === false">No</span>
                            <span class="text-danger" ng-if="questionReviews[question.id].singleKeyApi == null">Not reviewed</span>
                        </td>
                        <td>
                            <button class="btn btn-info"
                                    ng-click="upsertQuestionReviewField(question.id, 'singleKeyApi', true)">
                                Yes
                            </button>
                            <button class="btn btn-danger"
                                    ng-click="upsertQuestionReviewField(question.id, 'singleKeyApi', false)">
                                No
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <pre>{{question.body}}</pre>
                </div>
                <div id="answers">
                    <div id="answer-{{answer.id}}" ng-repeat="answer in question.answers">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a ng-href="http://www.stackoverflow.com/questions/{{question.id}}/#answer-{{answer.id}}"
                                   target="_blank">
                                    Answer#{{answer.id}}
                                </a>&nbsp;
                                <span class="glyphicon glyphicon-thumbs-up"></span><span>{{answer.voteNum}}</span>
                                <span class="label label-success" ng-if="answer.accepted">Accepted</span>&nbsp;
                                <span class="label label-success" ng-if="answer.id === questionReviews[question.id].answerIdUsingApi && questionReviews[question.id].singleKeyApi">Single</span>&nbsp;
                                <span class="label label-success" ng-if="answer.id === questionReviews[question.id].answerIdUsingApi">API</span>

                            </div>
                            <div class="panel-body">
                                <div class="row section">
                                    <div class="pull-right">
                                        <button class="btn btn-info"
                                                ng-click="setUsingSingleApi(question.id, answer.id)">
                                            Using Single API
                                        </button>
                                        <span>&nbsp;&nbsp;</span>
                                        <button class="btn btn-info"
                                                ng-click="setUsingMutipleApi(question.id, answer.id)">
                                            Using Mutiple API
                                        </button>
                                    </div>
                                </div>
                                <div>
                                    <pre ng-repeat="code in answer.codeList track by $index">{{code}}</pre>
                                </div>
                                <div>
                                    <pre ng-repeat="code in answer.inlineCodeList track by $index">{{code}}</pre>
                                </div>
                                <div>
                                    <div ng-repeat="link in answer.links track by $index">
                                        <a ng-href="link">{{link}}</a>
                                    </div>
                                </div>
                                {{answer.codeSectionNum}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}