@main("APIBook -- Stackoverflow") {
<div  ng-controller="stackoverflowController">
    <div class="stackoverflow-heading">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-default" ng-click="setQuestionIndex(questionIndex - 1)">Previous</button>
            </div>
            <div class="col-md-6">
                <input type="number" ng-model="questionIndex" ng-change="setQuestionIndex(questionIndex)">
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="setQuestionIndex(questionIndex + 1)">Next</button>
                <button class="btn btn-info" ng-click="jumpNextToReview()">Next to Review</button>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Stackoverflow</h1>
        <div class="panel  panel-default">
            <div class="panel-heading">
                <a ng-href="http://www.stackoverflow.com/questions/{{question.id}}/" target='_blank'>
                    Question#{{question.id}}&nbsp;&nbsp; {{question.title}}
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 review-question">
                        <span>Is this a program task?</span>
                        <span class="text-success" ng-if="questionReviews[question.id].isProgramTask === true">Yes</span>
                        <span class="text-danger" ng-if="questionReviews[question.id].isProgramTask === false">No</span>
                        <span ng-class="{'pull-right':questionReviews[question.id].isProgramTask !== undefined}">
                            <button class="btn btn-info" ng-click="upsertQuestionReviewField(question.id, 'isProgramTask', true)">Yes</button>
                            <button class="btn btn-danger" ng-click="upsertQuestionReviewField(question.id, 'isProgramTask', false)">No</button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 review-quetion">
                        <span>Answer Id using API</span>
                        <span class="text-danger" ng-if="questionReviews[question.id].answerIdUsingApi === 0">No</span>
                        <span class="text-success" ng-if="questionReviews[question.id].answerIdUsingApi !== 0">
                            #{{questionReviews[question.id].answerIdUsingApi}}
                        </span>
                        <button class="btn btn-info"
                                ng-class="{'pull-right':questionReviews[question.id].answerIdUsingApi !== undefined}"
                                ng-click="upsertQuestionReviewField(question.id, 'answerIdUsingApi', 0)">
                            No
                        </button>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <pre>{{question.body}}</pre>
                </div>
                <div ng-repeat="answer in question.answers">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a ng-href="http://www.stackoverflow.com/questions/{{question.id}}/#answer-{{answer.id}}"
                               target="_blank">
                                Answer#{{answer.id}}
                            </a>&nbsp;
                            <span class="glyphicon glyphicon-thumbs-up"></span><span>{{answer.voteNum}}</span>
                            <span class="label label-success" ng-if="answer.id === questionReviews[question.id].answerIdUsingApi">API</span>
                        </div>
                        <div class="panel-body">
                            <div>
                                <button class="btn btn-info pull-right"
                                        ng-click="upsertQuestionReviewField(question.id, 'answerIdUsingApi', answer.id)">
                                    Using API
                                </button>
                            </div>
                            <div>
                                <pre ng-repeat="code in answer.codeList track by $index">{{code}}</pre>
                            </div>
                            <div>
                                <div ng-repeat="link in answer.links track by $index">
                                    <a ng-href="link">{{link}}</a>
                                </div>
                            </div>
                            {{answer.codeSectionNum}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}